/* Global Styles */
body,
html {
    margin: 0;
    height: 100%;
}

.btn {
    border: 2px solid white;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 32px;
}

.section { 
    margin: 20px 60px 0 60px;
}

.submit-btn {
    color: white;
    border: none;
    background-color: black;
    padding-top: 10px;
    font-size: 24px;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 300;
    width: 135px;
    height: 45px;
}

.contact-btn {
    width: 213px;
    height: 58px;
    margin: 55px 0 0 92px;
    padding-top: 10px;
}

.read-btn {
    width: 163px;
    height: 58px;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    background-color: transparent;
    color: rgb(0, 0, 0);
    font-size: 32px;
    padding-top: 10px;
    margin-top: 48px;
}

.home-background {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("resources/images/background/image1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.navbar {
    height: 80px;
    margin: 0 60px;
    border-bottom: 3px solid white;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.navbar-item {
    float: right;
}

.navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 33px 12px;
    text-decoration: none;
    font-size: 18px;
    margin-right: 7px;
}

.logo {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 36px;
    padding-top: 26px;
    float: left;
}

.logo-shadow {
    position: absolute;
    top: 28px;
    left: 62px;
    font-weight: 700;
    font-size: 36px;
    z-index: 1;
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.slogan {
    color: white;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    margin: 214px 0 0 60px;
    font-size: 82px;
    position: relative;
}

.slogan-shadow {
    position: absolute;
    top: 4px;
    left: 3px;
    font-weight: 700;
    font-size: 82px;
    z-index: 1;
    color: transparent;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
}

.underslogan {
    color: white;
    margin-left: 92px;
    margin-top: 0;
    width: 500px;
    font-size: 32px;
}

.about-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: stretch;
    min-height: 100px
}

.about-paragraph {
    color: black;
    font-size: 24px;
    text-align: justify;
    width: 45%;
}

.divider {
    background-color: #000000;
    height: 3px;
    min-height: 100%;
    border: none;
    margin: 60px 0 0 0;
}

.about-image {
    background-image: url("resources/images/background/image2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 41px 0 0 0;
    height: 495px;
}

.blog-posts {
    margin: 0 60px;
}

.blog-row {
    display: flex;
    gap: 24px; 
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 31px 0 0 0;
}

.blog-post {
    flex: 1;
}

.blog-img {
    width: 100%;
    height: 340px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.blog-title {
    color: black;
    margin: 6px 0 0 0;
    font-size: 32px;
}

.blog-description {
    color: black;
    margin: 6px 0 0 0;
    font-size: 20px;
}

.input-field {
    width: 450px;
    height: 45px;
    border: 2px solid black;
    cursor: pointer;
    background-color: transparent;
    color: black;
    font-size: 24px;
    padding: 0 8px;
}

.contact-form {
    margin-top: -20px;
    display: flex;
    flex-direction: column; 
    gap: 10px;
}

.footer-section {
    margin: 0 60px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.footer-text {
    font-size: 36px;
    margin-left: 7px;
    margin-top: 20px;
    margin-bottom: 0;
}

.social-networks {
    margin-top: 22px;
    margin-right: 7px;
    display: flex;
    gap: 10px;
}

.contact-info {
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: -15px;
}

.i-youtube, .i-facebook, .i-instagram, .i-twitter {
    height: 26px;
    width: 26px;
    display: block;
}

.i-phone, .i-mail, .i-map {
    height: 42px;
    width: 42px;
    display: block;
}

.section-title {
    color: black;
    font-size: 82px;
    position: relative;
    padding: 0;
    margin-bottom: 0;
}

.section-title-shadow {
    position: absolute;
    top: 4px;
    left: 2px;
    font-size: 82px;
    z-index: 1;
    color: transparent;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
}

.cta {
    font-size: 30px;
    color: black;
    margin-bottom: 25px;
}

.divider-row {
    display: flex;
    gap: 15px;
    margin: 40px 0 0 0;
}

.divider-text {
    font-size: 30px;
}

.small-divider {
    height: 3px;
    width: 185px;
    border: none;
    min-height: 100%;
    background-color: black;
    margin: 10px 0 0 0;
}

.vertical-divider {
    width: 3px;
    height: auto;
    background-color: black;
    border: none;
    margin: 0 25px;
}
